In [1]:
my_dict={'Key1':'Value1','Key2':'Value2'}
my_dict

{'Key1': 'Value1', 'Key2': 'Value2'}

In [2]:
my_dict['Key1']

'Value1'

In [3]:
my_dict={'Roll_number':123,'Marks':[12,20,22],"Subject":['Maths','Physics','Chemistry']}
my_dict

{'Roll_number': 123,
 'Marks': [12, 20, 22],
 'Subject': ['Maths', 'Physics', 'Chemistry']}

In [4]:
my_dict['Subject']

['Maths', 'Physics', 'Chemistry']

In [5]:
my_dict['Subject'][2]

'Chemistry'

In [8]:
my_dict['Subject'][0].upper()

'MATHS'

In [9]:
my_dict['Subject'][1].lower()

'physics'

In [10]:
my_dict['Marks'][2]+=20
my_dict

{'Roll_number': 123,
 'Marks': [12, 20, 42],
 'Subject': ['Maths', 'Physics', 'Chemistry']}

In [11]:
my_dict['Marks'][0]-=10
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': ['Maths', 'Physics', 'Chemistry']}

In [14]:
my_dict['Year']=['3rd','4th','5th']
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': ['Maths', 'Physics', 'Chemistry'],
 'Year': ['3rd', '4th', '5th']}

In [15]:
my_dict.update({'Roll_number':100})
my_dict

{'Roll_number': 100,
 'Marks': [2, 20, 42],
 'Subject': ['Maths', 'Physics', 'Chemistry'],
 'Year': ['3rd', '4th', '5th']}

In [17]:
my_dict['Roll_number']+=23
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': ['Maths', 'Physics', 'Chemistry'],
 'Year': ['3rd', '4th', '5th']}

In [20]:
my_dict.update({'Subject'[0]:'Ashley'})
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': 'Ashley',
 'Year': ['3rd', '4th', '5th'],
 'S': 'Ashley'}

In [21]:
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': 'Ashley',
 'Year': ['3rd', '4th', '5th'],
 'S': 'Ashley'}

In [22]:
my_dict

{'Roll_number': 123,
 'Marks': [2, 20, 42],
 'Subject': 'Ashley',
 'Year': ['3rd', '4th', '5th'],
 'S': 'Ashley'}

In [23]:
i=13
if i<13:
    print('less than 13')
elif i>15:
    print('more than 15')
else:
    print('It is something else')

It is something else

In [24]:
i=91
j=23
if j>i:
    print('It is wrong')
else:
    print('It is not greater')

It is not greater

In [25]:
a=276575
b=230000
print('A') if a>b else print('B')

A

In [26]:
a=530
b=530
print('A') if a>b else print('B')if a==b else print('C')

B

In [27]:
a=200
b=33
c=500
if a>b and c<a:
    print('Both conditions are true')
else:
    print('Both are not true')

Both are not true

In [30]:
a=200
b=33
c=500
if a>b and c<a:
    print('Z')

In [31]:
marks=48
if marks>60:
    if marks>70:
        print('Distinction')
    else:
        print('First Class')
elif marks>50 and marks<=60:
    print('Second class')
elif marks>=35:
    print('Pass')
else:
    print('Fail')

Pass

In [34]:
num1='20'
num2=30
if num1=='20':
    print('A')
elif num2>25:
    print('B')

A

In [35]:
location=['Bangalore','Noida','Chennai','Delhi']
print(location)

['Bangalore', 'Noida', 'Chennai', 'Delhi']

In [36]:
for x in location:
    print(x)

Bangalore
Noida
Chennai
Delhi

In [37]:
salary=[2000,3000,4000,5000,7000,8000]
for value in salary:
    if value>5500:
        print(value)

7000
8000

In [41]:
student_scores=[35,67,78,79,12,34,67,54,89]
for marks in student_scores:
    if marks>60:
        print('Distinction')
    else:
        print('First Class')
elif marks>50 and marks<=60:
    print('Second class')
elif marks>=35:
    print('Pass')
else:
    print('Fail')

SyntaxError: invalid syntax (Temp/ipykernel_72572/311607416.py, line 7)

In [42]:
salary=[2000,4000,5000,6000,7000,8000]
for val in salary:
    if val>5500:
        print(val)

6000
7000
8000

In [44]:
sal=[val for val in salary if val>5500]
sal

[6000, 7000, 8000]